body {
    background-color: antiquewhite;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    text-align: center;
    margin: auto;
}

h1 {
    font-size: 40px;
    margin: 0px;
}

h2 {
    font-size: 32px;
    margin: 0px;
}

p {
    font-size: 18px;
    font-weight: 400;
    margin: 0px;
}

.subtext {
    font-size: 14px;
    font-style: italic;
    font-weight: 600;
    margin: 0px;
    text-align: center;
}

.divider {
    border: none;
    border-top: #333333 solid 15px;
    margin: 0;
}

.subDiv {
    border: none;
    border-top: #333333 dashed 5px;
    margin: 7.5px auto 0px;
    width: 90%;
}

ul {
    list-style-position: outside;
    margin: 0px;
}

li {
    margin: 5px;
    text-align: left;
}

li:has(+ ul) {
    margin-bottom: 0px;
}

ul ul {
    list-style-type: square;
    display: flex;
    flex-wrap: wrap;
    padding-left: 20px;
    gap: 5px 10px;
    width: 90%;
}

ul ul li {
    margin: 0;
    width: calc(33.33% - 10px);
}

.numbered {
    list-style-type: decimal;
}

.bold {
    font-weight: bold;
}
.titlePage {
    background-color: #99d6f4;
    width: 95%;
    max-width: 850px;
    margin: 10px auto;
    padding: 10px 5px;
    box-sizing: border-box;
    border-radius: 20px;
    border: #484d6c solid 4px;
    border-bottom: #484d6c solid 10px;
}

.proposal {
    background: linear-gradient(#99d6f4, #f0f9ff);
    /* height: 500px; */
    width: 90%;
    margin: 10px auto;
    border: #333333 ridge 10px;
    position: relative;
    padding: 20px 0;
}

.subP {
    /* height: calc(100% - 65px); */
    width: 90%;
    margin: auto;
    word-wrap: break-word;
    overflow: auto;
    scrollbar-width: thin;
    scrollbar-color: #484d6c #e0e8ff;
}

.centerImage {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.leftImage {
    display: block;
    margin-left: 0;
    margin-right: auto;
    width: 50%;
    outline: #333333 solid 2px;
}